<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Editar Ubicación</title>
</head>
<body>

<!-- Incluye el menú -->
<div th:replace="fragments/navbar :: menu"></div>

<h1>Editar Ciudad y Código Postal</h1>

<form method="post" th:action="@{/employee/actualizarUbicacion}">
  <input type="hidden" name="locationId" th:value="${empleado.department.location.id}"/>

  <label>ID:</label>
  <input type="text" th:value="${empleado.id}" disabled/><br/>

  <label>Nombre:</label>
  <input type="text" th:value="${empleado.firstName}" disabled/><br/>

  <label>Apellido:</label>
  <input type="text" th:value="${empleado.lastName}" disabled/><br/>

  <label>Puesto:</label>
  <input type="text" th:value="${empleado.job.jobTitle}" disabled/><br/>

  <label>Departamento:</label>
  <input type="text" th:value="${empleado.department.departmentName}" disabled/><br/>

  <label>Salario (en dólares):</label>
  <input type="text" th:value="${empleado.salary}" disabled/><br/>

  <label>Ciudad:</label>
  <input type="text" name="city" th:value="${empleado.department.location.city}" required/><br/>

  <label>Código Postal:</label>
  <input type="text" name="postalCode" th:value="${empleado.department.location.postalCode}" required/><br/>

  <button type="submit">Guardar Cambios</button>
  <a th:href="@{/employee}">Cancelar</a>
</form>

</body>
</html>
